.search-box {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

.search-box>* {
    width: 100%;
    display: block;
}

.search-box label {
    margin-bottom: 5px;
}

.food-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.single-food {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    height: 150px;
    background-color: rgb(156, 154, 154);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.single-food h3 {
    font-size: 1em;
}

.single-food .food-calories {
    font-size: 1.2em;
    color: rgba(238, 58, 34, 0.925);
}

.single-food img {
    width: 25%;
    height: 150px;
    float: left;
    border-radius: 50%;
}

.new-food {
    overflow: auto;
}

.new-food-button {
    float: left;
    width: 30%;
    display: block;
    background-color: rgba(238, 58, 34, 0.925);
}

.food-button {
    width: 10%;
    background-color: rgba(238, 58, 34, 0.925);
}

.my-food-list {
    float: right;
    width: 45%;
}

.foods {
    width: 45%;
    display: inline-block;
}