header {
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
}

header>h3 {
    margin-left: 20px;
    font-size: 20px;
}

footer {
    margin-left: 20px;
}

.container {
    padding: 25px 25px;
    margin-left: 15%;
}

.food-container {
    width: 100%;
}